@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Ubuntu', sans-serif;
}

body {
  background-color: #121212;
  color: #e0e0e0;
}

nav {
  width: 100%;
  padding: 20px;
  background: #1e1e1e;
  color: #ffffff;
  position: relative;
}

nav .nav-content {
  max-width: 1200px;
  margin: auto; 
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .logo a {
  font-weight: 500;
  font-size: 35px;
  color: #4070f4;
}

.nav-content .nav-links {
  display: flex;
}

.nav-content .nav-links li {
  list-style: none;
  margin: 0 15px;
}

.nav-links li a {
  text-decoration: none;
  color: #e0e0e0;
  font-size: 18px;
  font-weight: 500;
  padding: 10px;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #4070f4;
}

.main {
  padding: 40px;
  max-width: 1200px;
  margin: 0 auto;
}

.teamHead {
  font-size: 36px;
  color: #ffffff;
  text-align: center;
  margin-bottom: 40px;
}

.image-text-block {
  display: flex;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1); 
  border-radius: 10px;
  padding: 20px; 
  margin-bottom: 20px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); 
}

.image-container {
  flex: 1; 
  margin-right: 20px;
}

.text-container {
  flex: 2;
  color: #f0f0f0;
  font-family: 'Ubuntu', sans-serif; 
}

h2 {
  font-size: 24px;
  margin-bottom: 10px; 
  color: #ffffff;
}

ul {
  list-style-type: none; 
  padding: 0; 
}

li {
  font-size: 18px;
  margin: 5px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); 
  padding-bottom: 5px; 
}

strong {
  color: #ffcc00;
}
